In [3]:
import pandas as pd

In [5]:
automobile = pd.read_csv('datasets/cars_processed.csv')

automobile.head(5)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Origin,Age
0,18.000000,8,307.0,130,3504,12.0,US,49
1,16.000000,8,304.0,150,3433,12.0,US,49
2,17.000000,8,302.0,140,3449,10.5,US,49
3,14.000000,8,454.0,220,4354,9.0,US,49
4,23.551429,8,440.0,215,4312,8.5,US,49

In [6]:
automobile.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
count,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000
mean,23.672514,5.410853,192.184755,103.645995,2965.387597,15.573643,42.917313
std,7.736579,1.667795,103.703706,38.128651,846.332848,2.746260,3.668715
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,37.000000
25%,17.600000,4.000000,102.500000,75.000000,2221.500000,13.900000,40.000000
50%,23.200000,4.000000,146.000000,92.000000,2790.000000,15.500000,43.000000
75%,29.000000,6.000000,260.000000,121.000000,3589.500000,17.050000,46.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,49.000000

In [7]:
from sklearn import preprocessing

# Standarize input features
automobile[['Cylinders']] = preprocessing.scale(automobile[['Cylinders']].astype('float64'))
automobile[['Displacement']] = preprocessing.scale(automobile[['Displacement']].astype('float64'))
automobile[['Horsepower']] = preprocessing.scale(automobile[['Horsepower']].astype('float64'))
automobile[['Weight']] = preprocessing.scale(automobile[['Weight']].astype('float64'))
automobile[['Acceleration']] = preprocessing.scale(automobile[['Acceleration']].astype('float64'))
automobile[['Age']] = preprocessing.scale(automobile[['Age']].astype('float64'))

In [8]:
automobile.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
count,387.000000,3.870000e+02,3.870000e+02,3.870000e+02,3.870000e+02,3.870000e+02,3.870000e+02
mean,23.672514,3.672055e-17,1.101617e-16,1.101617e-16,1.101617e-16,2.203233e-16,8.078522e-16
std,7.736579,1.001294e+00,1.001294e+00,1.001294e+00,1.001294e+00,1.001294e+00,1.001294e+00
min,9.000000,-1.447404e+00,-1.199046e+00,-1.513838e+00,-1.600007e+00,-2.761372e+00,-1.615000e+00
25%,17.600000,-8.470340e-01,-8.659368e-01,-7.522710e-01,-8.800918e-01,-6.102152e-01,-7.962160e-01
50%,23.200000,-8.470340e-01,-4.459295e-01,-3.058349e-01,-2.075007e-01,-2.685060e-02,2.256768e-02
75%,29.000000,3.537065e-01,6.547792e-01,4.557326e-01,7.383860e-01,5.382839e-01,8.413513e-01
max,46.600000,1.554447e+00,2.537570e+00,3.318176e+00,2.572779e+00,3.363956e+00,1.660135e+00

In [9]:
automobile.shape

(387, 8)

In [10]:
from sklearn.model_selection import train_test_split

X = automobile.drop(['MPG', 'Origin'], axis=1)
Y = automobile['MPG']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [11]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression(normalize=True).fit(x_train, y_train)

In [12]:
print("Training Score: ", linear_model.score(x_train, y_train))

Training Score:  0.7787976798539803

In [13]:
y_pred = linear_model.predict(x_test)

In [14]:
from sklearn.metrics import r2_score

print("Training Score: ", r2_score(y_test, y_pred))

Training Score:  0.8129028088720152

In [15]:
# For multiple predictor or multiple feature in a regression model 
# A mesaure to calculate how well the model performs is the adjustable r square
# Calculated base on the r2 score
### Is a goodness of fit measure ###
def adjusted_r2(r_square, labels, features):
    adj_r_square = 1 - ((1 - r_square) * (len(labels) - 1)) / (len(labels) - features.shape[1] - 1) 
    return adj_r_square

In [16]:
print("Adjusted_r2_score :" , adjusted_r2(r2_score(y_test, y_pred), y_test, x_test))

Adjusted_r2_score : 0.7970917786358475

In [17]:
features_corr = X.corr()

features_corr

,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
Cylinders,1.000000,0.922633,0.811466,0.873029,-0.458161,0.321850
Displacement,0.922633,1.000000,0.894199,0.932822,-0.526901,0.357047
Horsepower,0.811466,0.894199,1.000000,0.863388,-0.670920,0.404458
Weight,0.873029,0.932822,0.863388,1.000000,-0.397181,0.299049
Acceleration,-0.458161,-0.526901,-0.670920,-0.397181,1.000000,-0.292705
Age,0.321850,0.357047,0.404458,0.299049,-0.292705,1.000000

In [18]:
abs(features_corr) > 0.8

              Cylinders  Displacement  Horsepower  Weight  Acceleration    Age
Cylinders          True          True        True    True         False  False
Displacement       True          True        True    True         False  False
Horsepower         True          True        True    True         False  False
Weight             True          True        True    True         False  False
Acceleration      False         False       False   False          True  False
Age               False         False       False   False         False   True

In [19]:
trimmed_features_df = X.drop(['Cylinders', 'Displacement', 'Weight'], axis=1)

In [20]:
trimmed_features_corr = trimmed_features_df.corr()

trimmed_features_corr

              Horsepower  Acceleration       Age
Horsepower      1.000000     -0.670920  0.404458
Acceleration   -0.670920      1.000000 -0.292705
Age             0.404458     -0.292705  1.000000

In [21]:
abs(trimmed_features_corr) > 0.8

              Horsepower  Acceleration    Age
Horsepower          True         False  False
Acceleration       False          True  False
Age                False         False   True

In [22]:
# Select feature that are not collinear

# Variance_inflation_factor calculates the severity of multicollinearity in an ordinary least squares regression analysis.

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [24]:
vif = pd.DataFrame()

vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [25]:
vif['features'] = X.columns

In [26]:
vif.round(2)
1# 1: Not correlated, 1-5: modertely correlated, >5 highly correlated

   VIF Factor      features
0        6.84     Cylinders
1       16.10  Displacement
2        8.82    Horsepower
3       10.69        Weight
4        2.49  Acceleration
5        1.22           Age

In [27]:
X = X.drop(['Displacement', 'Weight'], axis=1)

In [29]:
vif = pd.DataFrame()

vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [30]:
vif['features'] = X.columns

In [31]:
vif.round(2)

   VIF Factor      features
0        3.05     Cylinders
1        4.56    Horsepower
2        1.90  Acceleration
3        1.20           Age

In [32]:
X = automobile.drop(['MPG', 'Displacement', 'Weight', 'Origin'], axis=1)
Y = automobile['MPG']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [33]:
linear_model = LinearRegression(normalize=True).fit(x_train, y_train)

In [34]:
print("Training Score: ", linear_model.score(x_train, y_train))

Training Score:  0.7245601599810705

In [35]:
y_pred = linear_model.predict(x_test)

In [36]:
print("Training Score: ", r2_score(y_test, y_pred))

Training Score:  0.7150554810668306

In [39]:
print("Adjusted_r2_score :" , adjusted_r2(r2_score(y_test, y_pred), y_test, x_test))

Adjusted_r2_score : 0.6994420827691227